@use './variables' as *;

header{
    height: 150px;
    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        margin: 0 auto;
    }
    .nav-wrapper{
        ul{
            display: flex;
            align-items: center;
            gap: 20px;
            li{
                list-style: none;
                a{
                    &.active{
                        color: $primary-color;
                    }
                }
            }
        }
    }
}