@use './variables' as *;

header{
    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 150px;
    }
    .nav-wrapper{
        ul{
            display: flex;
            align-items: center;
            gap: 20px;
            li{
                list-style: none;
                a{
                    &.active{
                        color: $primary-color;
                    }
                }
            }
        }
    }
    .jumbotron{
        height: 600px;
        background-image: url('../img/jumbotron.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        display: block;
    }
}